<p>module-component works!</p>
<h3>General Important commands</h3>
<ul>
    <li>ng g c "compoment name" : To generate new component</li>
    <li>ng g m "module name" : To create new module</li>
    <li>ng g c "class name" : To create a class</li>
</ul>
<h3>Definition of Component and Modules</h3>
<h5>Component are the smaller part of application and it can be a part of module. Module is the part of the application suppose
    we have to make h user authentication inside that there are different component eg: userlogin, userlogout, uservalidation, etc
    and all the above example comes under the module.
</h5>