<h2>Angular project {{title}}</h2>
<h1>------------------------------------------------------------------------------------------------------</h1>
<ul>
    <li>
        <a routerLink="">Home</a>
    </li>
    <br>
    <li>
        <a routerLink="interpoaltion">Interpolation Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="module">Module Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="function">Function Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="protertyBinding">Property Binding Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="ifElse">If Else Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="switch">switch Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="dynamic">Dynamic Style Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="toggle">Toggle Element Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="twoway">Two way binding Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="pipes">Pipes Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="template">Template data driven Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="reactive">Reactive form Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="reactiveValidate">Reactive form Validation Tutorials</a>
    </li>
    <br>
    <li>
        <a routerLink="directive">Directive Tutorials</a>
    </li>
</ul>
<h1>------------------------------------------------------------------------------------------------------</h1>
<router-outlet></router-outlet>
<h1>------------------------------------------------------------------------------------------------------</h1>
<app-parent-to-child [item]="data"></app-parent-to-child>
<button (click)="randomNumber()">Random number</button>
<ul *ngFor="let item of userDetails">
    <app-parent-to-child [parentData] = "item"></app-parent-to-child>
</ul>  
<h1>{{userDetails | json}}</h1>
<app-parent-to-child [parentDataValue]="userDetails">Send data to the child componet on click</app-parent-to-child>
<h1>------------------------------------------------------------------------------------------------------</h1>
<h1>{{dataValue}}</h1>
 <app-child-to-parent (updateDataEvent)="updateValue($event)"></app-child-to-parent>